html,
body {
  overflow-x: hidden;
}

body {
  margin: 0%;
  padding: 0px;
  box-sizing: border-box;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 8vh;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: fixed;
  background-color: #0e0d0d;
  border-bottom: solid;
  border-bottom-width: 1px;
}

.left_section {
  display: flex;
  width: 10%;
  justify-content: center;
  align-items: center;
}

.left_section a i {
  font-size: 2rem;
  color: #ffffff;
  border-radius: 100%;
  transition: box-shadow 0.2s;
}

.left_section a i:hover {
  color: #b8aaaa;
}

.middle_section {
  display: flex;
  width: 70%;
}

.links_section {
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
}

.links_section a {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #ffffff;
  transition: color 0.2s;
  padding: 5px;
}

.links_section a:hover {
  color: #b8aaaa;
}

.right_section {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.right_section a {
  font-size: 20px;
  color: #ffffff;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-decoration: underline;
  transition: color 0.2s;
}

.right_section a:hover {
  color: #b8aaaa;
}

.section_1 {
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 20px;
  border-top: solid;
  border-bottom: solid;
  margin-top: 8vh;
  border-width: 1px;
  background-color: #f8f8f8;
}

.left_section_1 {
  display: flex;
  flex-direction: row;
  width: 40%;
  margin: auto;
  margin-left: 3%;
  margin-bottom: 5vh;
}

.left_section_1 .image1 {
  width: 65%;
  padding: 20px;
  border: solid;
  border-radius: 5px;
  border-width: 2px;
  margin: 20px;
}

.my_img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  border: solid;
  border-width: 2px;
}

.right_section_1 {
  display: flex;
  flex-direction: row;
  width: 60%;
  position: relative;
}

.text_intro {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.intro1 {
  font-size: 150px;
  width: 100%;
  overflow: hidden;
  font-family: "Times New Roman", Times, serif;
}

.intro2 {
  font-size: 25px;
  color: #434343;
  font-family: "Times New Roman", Times, serif;
}

.scroll_down {
  font-size: 24px;
  position: absolute;
  bottom: 60px;
  right: 40px;
}

.section_2 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-bottom: solid;
  border-top: solid;
  border-width: 1px;
  background-color: #f8f8f8;
}

.section2_top {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
}

.left_s2 {
  width: 30%;
}

.ls2_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.s2_intro1 {
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}

.s2_intro2 {
  margin-top: 15px;
  font-size: 23px;
  font-family: "Times New Roman", Times, serif;
  line-height: 30px;
  color: #434343;
}

.resume_dwn_btn button {
  background-color: white;
  text-align: center;
  font-size: 120%;
  padding: 0.7rem;
  border: solid;
  border-width: 1px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #434343;
  cursor: pointer;
}

.resume_dwn_btn button:hover {
  background-color: #dedbdb;
}

header {
  color: #0e0d0d;
}

.right_s2 {
  width: 65%;
  display: flex;
}

.rigths2_content1 {
  width: 55%;
  margin-top: 1vh;
}

.inside_content {
  margin: auto;
  width: 60%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 25px;
}

.logo {
  width: 55px;
  height: 50px;
}

.vkrs_logo {
  width: 100%;
  height: 100%;
  border: solid;
  border-radius: 50%;
  border-width: 0.2px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.rights2_content {
  display: flex;
  flex-direction: column;
}

.number {
  font-size: 60px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 5px;
}

.rights2_intro1 {
  font-size: 22px;
  width: 85%;
  font-family: "Times New Roman", Times, serif;
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: 30px;
  color: #434343;
}

.rignts2_image {
  width: 100%;
}

.rights2_img {
  width: 100%;
  object-fit: fill;
  border: none;
  border-radius: 10px;
}

.rights2_content2 {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rs2_image {
  width: 15vw;
  margin-bottom: 10vh;
  margin-top: 1vh;
}

.rs2_img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.rs2_bottom_content {
  display: flex;
  flex-direction: column;
  width: 93%;
}

.star_symbol {
  font-size: 50px;
}

.rs2_bottom_intro {
  font-size: 20px;
  margin-left: 1vw;
  line-height: 30px;
  color: #434343;
}

.rs2_bottom_row {
  display: flex;
  margin-top: 1vh;
  margin-bottom: 3vh;
}

.section2_bottom {
  display: flex;
}

.section_3 {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  background-color: #f8f8f8;
}

.s3_top_section {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px 20px 15px 20px;
}

.s3_title1_cover {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
  padding: 2px 12px 2px 12px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}

.s3_dot_symbol {
  font-size: 25px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.s3_title1 {
  font-size: 28px;
  font-family: "Times New Roman", Times, serif;
}

.s3_title2 {
  font-size: 70px;
  font-family: "Times New Roman", Times, serif;
  margin: auto;
  text-align: center;
}

.s3_bottom_section {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

.project_container {
  display: flex;
  flex-direction: column;
}

.project_boxes {
  display: flex;
  justify-content: space-around;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 10px 0px;
  width: 28vw;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px;
}

.projext_image_box {
  width: 100%;
}

/* other color option rgb(233, 242, 242); */

.s3_project_image {
  width: 100%;
  border-radius: 10px;
  object-fit: fill;
  object-position: center;
}

.project_name {
  margin-top: 2vh;
  margin-left: 2px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}

.more_project_link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;
  margin-bottom: 8vh;
}

.poject_text1 {
  font-size: 18px;
  color: #434343;
  font-family: "Times New Roman", Times, serif;
}

.project_arrow_symbol {
  margin-left: 1vw;
  margin-right: 0.5vw;
  font-size: 20px;
}

.more_project_link a {
  text-decoration: none;
}

.project_text2 {
  font-size: 20px;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

.project_text2::after {
  content: "";
  width: 0;
  display: block;
  background-color: black;
  height: 1.5px;
  margin: auto;
}

.project_text2:hover::after {
  width: 100%;
  transition: width 0.4s linear;
}

.section_4 {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  background-color: #f8f8f8;
}

.blog_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10vh;
}

.blog_box {
  width: 26vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 10px;
}

.blog_image_box {
  width: 100%;
}

.blog_img {
  width: 100%;
  border-radius: 10px;
}

.vertical_section {
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  align-items: center;
}

.blog_category {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  color: white;
  padding: 2px 8px;
  border-radius: 10px;
  margin-left: 0.5vw;
  background-color: #0e0d0d;
}

.time_to_read {
  font-size: 17px;
  margin-left: 0.5vw;
  font-family: "Times New Roman", Times, serif;
}

.horizontal_section {
  display: flex;
  margin-bottom: 2vh;
}

.blog_title {
  font-size: 17px;
  margin-left: 0.5vw;
  font-family: "Times New Roman", Times, serif;
}

.s4_bottom_section {
  display: flex;
  flex-direction: column;
}

.section_5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20vh;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  background-color: #f8f8f8;
}
.s5_intro1 {
  font-size: 60px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
}

.s5_intro2 {
  font-size: 22px;
  color: #434343;
  width: 65%;
  text-align: center;
  margin-bottom: 5vh;
}

.s5_call a {
  color: black;
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  background-color: #0e0d0d;
}

.footer_section_links {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.footer_section_links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  transition: color 0.5s;
}

.footer_section_links a:hover {
  color: #b8aaaa;
}

.mail {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.mail_text {
  font-size: 220%;
  color: white;
}

@media screen and (max-width: 820px) {
  .left_section a i {
    font-size: 100%;
  }
  .links_section a {
    font-size: 70%;
  }
  .right_section a {
    margin-right: 2vw;
    font-size: 70%;
  }
  .section_1 {
    display: flex;
    padding: 20px;
    text-align: center;
  }
  .intro1 {
    font-size: 600%;
  }
  .left_section_1 {
    display: none;
  }
  .right_section_1 {
    width: 90%;
    padding: 20px;
  }
  .scroll_down {
    font-size: 120%;
    right: 2;
    bottom: -1vh;
  }
  .section2_top {
    display: flex;
    flex-direction: column;
  }
  .ls2_content {
    margin: 0;
  }
  .left_s2 {
    width: 100%;
  }
  .right_s2 {
    flex-direction: column;
    width: 100%;
  }
  .inside_content {
    width: 80%;
  }
  .rigths2_content1,
  .rights2_content2 {
    width: 100%;
  }
  .rs2_image {
    display: none;
  }
  .star_symbol {
    vertical-align: top;
  }
  .rs2_bottom_intro {
    vertical-align: top;
  }
  .project_boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box {
    width: 70vw;
    margin: 20px;
  }
  .section_5 {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }
  .s5_intro1 {
    width: 90%;
  }

  .s5_intro2 {
    width: 90%;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer_section_links {
    width: 90%;
    justify-content: space-around;
  }
  .mail_text {
    font-size: 150%;
  }
}
