body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.content {
  display: flex;
  flex-direction: row;
  background-color: #f8f8f8;
  overflow: hidden;
}

.left_section {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid;
  border-left: 1px;
  position: relative;
}

.name {
  font-size: 28px;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 5vh;
  position: absolute;
  top: 5%;
  left: 5%;
}

.right_section {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  border-left: 1px;
  position: relative;
}

.home {
  font-size: 28px;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 5vh;
  position: absolute;
  top: 5%;
  right: 6%;
}

.home::after {
  content: "";
  width: 0;
  display: block;
  background-color: black;
  height: 1.5px;
  margin: auto;
}

.home:hover::after {
  width: 100%;
  transition: width 0.4s linear;
}

.picture {
  width: 33vw;
  height: 50%;
  border: solid;
  border-width: 20px;
  padding: 20px;
}

.my_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: solid;
  border-width: 2px;
}

.r_s_center_content {
  display: flex;
  flex-direction: column;
  padding: 35px;
  width: 30vw;
}

.intro_1 {
  font-family: serif;
  font-size: 45px;
  margin-bottom: 10px;
}

.intro_2,
.intro_3 {
  font-size: 25px;
  font-family: serif;
  line-height: 35px;
  font-weight: lighter;
}

.btnn {
  padding: 10px;
  color: white;
  border-radius: 14px;
  border: solid;
  border-width: 1px;
  background-color: rgb(0, 0, 0);
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 12px;
  transition: background-color 0.5s;
}

.btnn:hover {
  cursor: pointer;
  color: black;
  background-color: rgb(255, 255, 255);
}

.social_medias_section {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.images {
  width: 24px;
  height: 24px;
  object-fit: fill;
}

.copyrights {
  margin: auto;
  font-size: 18px;
  text-align: center;
  font-family: serif;
  margin-top: 10%;
}

@media screen and (max-width: 550px) {
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .left_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .name {
    width: 80%;
    position: relative;
    left: 0;
    top: 2vh;
    text-align: center;
  }
  .picture {
    width: 60%;
    height: 40vh;
    margin-bottom: 2vh;
  }
  .right_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .home {
    margin-top: 2vh;
    position: relative;
    left: 0;
  }
  .r_s_center_content {
    width: 90%;
    align-items: center;
  }

  .btnn {
    width: 35vw;
  }
  .social_medias_section {
    width: 80%;
  }
}
